<%= simple_form_for quote, html: { class: "form", data: {"turbo-action": "advance"}} do |f| %>
    <% if quote.errors.any? %>
        <div>
            <%= quote.errors.full_messages.to_sentence.capitalize %>
        </div>
    <% end %>
    
    <div class="form__field">
        <%= f.label :name %>
        <%= f.input :name, input_html: { autofocus: true } %>
        <%= f.submit %>
    </div>
<% end %>